*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --primary-color:orange;
    --secondary-color:black;
    --tertiary-color:gray;
}

p {
    font-size: 15px;
}

body{
    background-color: lightgray;
   
}

/*Header formatting*/
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
}

/*aboutme formating*/
.aboutme h2{
    color: var(--primary-color);
    border-bottom: 1px solid var(--tertiary-color);
    font-size: 40px;
}

.aboutme {
    float:left;
    width: 82%;
    margin-left: 15px; 
    margin-top:15px;
}

.aboutme p{
    font-size: 25px;
}

.selfie{
    max-width: 15%;
    display: flex;
    float:right;
    margin-right: 15px;
    margin-top:15px;
}